<%inherit file="main.html" />

<%def name="title()">Users - ${parent.title()}</%def>

<%def name="head()">
<style type="text/css">
#container {
    width:1070px;
}
</style>
</%def>


<%def name="top_of_head()">
</%def>

<%def name="scripts()">
<script src="/static/blue_common/scripts/jquery.form.js"></script>
<script type="text/javascript">
    $(function(){
    });
</script>
</%def>

<%def name="body_classes()">users ${parent.body_classes()}</%def>
<%def name="container()">
<h1 class="header">Enterprise Partner: <span>${username} </span></h1>
<div class="recenter">
<div class="division">
${parent.progressbar()}
</div>
% if saved and not search_back:
<p id="saved" class="bigger" style="display:none">Changes saved successfully!</p>
% endif

% if config['enable_local_users']:
<div id="mk_new_usr" class="section">
<h2>Create New User</h2>
<form action="${reverse('blue_mgnt:users')}" enctype="multipart/form-data" method="post">
    <table class="table" style="max-width:100%">
        <tr>
        %for field in new_user.visible_fields():
            <td>
                ${field.label_tag()}
                ${field}
            
            %if field.errors:
                <br />
                <span class="errors">
                %for error in field.errors:
                    ${error}
                %endfor
                </span>
            </td>
            %else:
            </td>
            %endif

        %endfor
            <td style="padding-top:30px">
            <input type='submit' value="+ New User" class="btn btn-primary">
            </td>
        </tr>
    </table>
    <input type='hidden' value='new_user' name='form'>
    %for hidden in new_user.hidden_fields():
        ${hidden}
    %endfor
</form>
</div>
% endif
% if not features['ldap']:
<div class="section">
<h2>Upload CSV</h2>
<form action="${reverse('blue_mgnt:users')}" enctype="multipart/form-data" method="post">
    <fieldset>
        %for field in user_csv:
        <table class="table" style="max-width:100%">
            <tr><td>
            ${field.label_tag()}
                ${field}
                %if field.errors:
                <br />
                <span class="errors">
                    %for error in field.errors:
                        ${error}
                    %endfor
                </span>
                </td>
                %else:
                    <label for="id_${field.name}">
                    </label>
                    </td>
                %endif
                
        %endfor
<td style="padding-top:32px">
    <input type='submit' value="Upload CSV" class="btn btn-primary">
    </td></tr>
    </fieldset>
    <input type='hidden' value='csv' name='form'>
        </table>
</form>
</div>
% endif
</div>

<div class="section">
<a name="user_table" style="display:hidden"></a>
    <h2 style="float:left">Users</h2>
<div id="search" class="">
    <form action="${reverse('blue_mgnt:users')}" method="get">
        <input name="show_disabled" type="hidden" value="${show_disabled}">
        <input id="input_search" name="search" type="text" value="${search}" style="width:260px; margin-right:12px" placeholder="Name or Email" />
        <input type='submit' value="Find Users" class="btn btn-primary">
    </form>
</div>
    <a href="${reverse('blue_mgnt:users_csv_download')}" class="btn btn-primary" style="display:inline; float:right; padding:0 10px">
        <i class="icon-chevron-down icon-white"></i>
        Download CSV</a>
    <a href="${reverse('blue_mgnt:users')}?show_disabled=${0 if show_disabled else 1}&search=${search}#user_table" class="btn btn-primary" style="display:inline; float:right; padding:0 10px; margin-right:12px">
        <i class="${'icon-eye-close' if show_disabled else 'icon-eye-open'} icon-white" style="margin-top:3px"></i>
        ${'Hide Disabled' if show_disabled else 'Show Disabled'}</a>
        <div style="height:60px"></div>
<form action="${reverse('blue_mgnt:users')}" method="post" action="">
    ${users.management_form}
    ${delete_user_formset.management_form}
    ${tmp_user_formset.management_form}
    <table id="users" class="table" style="max-width:100%; clear:both">
        <thead>
            <tr class="bigger">
                % if not features['email_as_username']:
                <th>Username</th>
                % endif
                <th>Name</th>
                <th>Email</th>
                <th>Group</th>
                <th>Enabled</th>
                <th>GBs Stored</th>
                <th>Creation Time</th>
                <th>Last Login</th>
                % if features['ldap'] and user.has_perm('blue_mgnt.can_view_user_data'):
                    <th>Storage Login</th>
                % endif
                <th>User Detail</th>
                <th id="del">Delete User<br />
                    <input id="sel_all" type="checkbox">
                </th>
            </tr>
        </thead>
        <tbody>
            <% local_index = 0 %>
            % for x, curr_user in enumerate(all_users):
            <tr>
                % for hidden in delete_user_formset[x].hidden_fields():
                    ${hidden}
                % endfor
                % if not features['email_as_username']:
                <td>${curr_user['username']}</td>
                % endif
                % if curr_user['is_local_user']:
                    % for hidden in tmp_user_formset[local_index].hidden_fields():
                        ${hidden}
                    % endfor
                    % for field in tmp_user_formset[local_index].visible_fields():
                        <td>
                            ${field}
                        % if field.errors:
                            <br />
                            <span class="table_errors">
                            % for error in field.errors:
                                ${error}
                            % endfor
                            </span>
                        % endif
                        </td>
                    % endfor
                % else:
                <td>${curr_user['name']}</td>
                <td>${curr_user['email']}</td>
                <td>${curr_user['group_name']}</td>
                <td>${curr_user['enabled']}</td>
                % endif
                <td>${curr_user['gigs_stored']}</td>
                <td>${curr_user['creation_time']}</td>
                <td>${curr_user['last_login'] if curr_user['last_login'] else ''}</td>
                <td><a href="${curr_user['login_link']}">Login</a></td>
                <td>
                    <a href="${reverse('blue_mgnt:user_detail', args=[curr_user['email']])}">
                        Detail
                    </a>
                </td>
                <td>
                    % if (not curr_user['enabled'] or curr_user['is_local_user']) and user.has_perm('blue_mgnt.can_manage_users'):
                    <span class="del_box">${delete_user_formset[x]['DELETE']}</span>
                    % endif
                </td>
            </tr>
                % if curr_user['is_local_user']:
                    <% local_index += 1 %>
                % endif
            % endfor
        </tbody>
    </table>
<div style="text-align:center">
    <input type='hidden' value='${search}' name='search'>
    <input type='submit' value="Save Changes" class="btn btn-primary" id="save">
</div>
</form>
<div id="pagination" class="bigger" style="text-align:center">
    % if page > 1:
    <a href="${reverse('blue_mgnt:users')}?page=${page - 1}&search=${search}">previous</a>
    % endif
    Page ${page}
    % if next_page:
    <a href="${reverse('blue_mgnt:users')}?page=${page + 1}&search=${search}">next</a>
    % endif
</div>
</div>
</%def>
