{% extends "base.html" %}
{% block title %}Management Console - {{ block.super }}{% endblock %}
{% block body_classes %}home {{ block.super }}{% endblock body_classes %}
{% block breadcrumb %}<a href="#">Back to Something</a>{% endblock breadcrumb %}
{% block modal_options %}{% include "partials/add-user-widget.html" with active="manage" %}{% endblock modal_options %}
{% block navtab %}{% include "partials/navtab-widget.html" with active="manage" %}{% endblock navtab %}
{% block content %}
<h1 class="page-header">
	<i class="ss-icon">&#x1F464;</i> Admin Groups
    <div class="actions">
		<button id="add-user" class="button button-primary">Add user</button>
        <form action="{% url 'blue_mgnt:admin_groups' %}" method="GET">
            <input name="show_disabled" type="hidden" value="{{ show_disabled }}">
            <input type="text" class="widget-search-input" value="{{ search }}" placeholder="Find Users by Name or Email">
            <input type="submit" class="search-button ss-icon" value="&#x1F50E;">
        </form>
	</div>
</h1>
<form action="{% url 'blue_mgnt:admin_groups' %}" method="post" action="" style="clear:both">
{{ admin_groups.management_form }}
<table id="groups" class="widget-table">
    <thead>
        <tr class="bigger">
            <th>Name</th>
            <th>LDAP DN</th>
            <th>Permissions</th>
        </tr>
    </thead>
    <tbody>
        {% if admin_groups.non_form_errors %}
        <tr><td colspan="5" style="color:#FF0000; font-size:1.3em">{{ admin_groups.non_form_errors }}</td> </tr>
        {% endif %}
        {% for form in admin_groups.forms %}
        <tr>
            {% for field in form.visible_fields %}
            <td>
                {% if forloop.first %}
                    {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                    {% endfor %}
                {% endif %}
                {% if field.name == 'DELETE' %}
                    <span class="del_box">{{ field }}</span>
                {% else %}
                    {{ field }}
                    {% if field.errors %}
                        <br />
                        {% for error in field.errors %}
                            <span class="table_errors">
                                {{ error }}
                            </span>
                        {% endfor %}
                    {% endif %}
                {% endif %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
<div style="text-align:center">
    <input type='submit' value="Save Changes" class="button button-primary">
    <input type='hidden' value='management' name='form'>
</div>
</form>
{% endblock content %}
