{% extends "base.html" %}
{% load filter_todate %}
{% block title %}Management Console - {{ block.super }}{% endblock %}
{% block body_classes %}home {{ block.super }}{% endblock body_classes %}
{% block breadcrumb %}<a href="#">Back to Something</a>{% endblock breadcrumb %}
{% block modal_options %}{% include "partials/add-user-widget.html" with active="manage" %}{% endblock modal_options %}
{% block navtab %}{% include "partials/navtab-widget.html" with active="manage" %}{% endblock navtab %}
{% block content %}
<h1 class="page-header">
	<i class="ss-icon">&#x1F511;</i> Auth Codes
    <div class="actions">
		<button id="add-user" class="button button-primary">Add user</button>
        <form action="{% url 'blue_mgnt:users' %}" method="GET">
            <input name="show_disabled" type="hidden" value="{{ show_disabled }}">
            <input type="text" class="widget-search-input" value="{{ search }}" placeholder="Find Users by Name or Email">
            <input type="submit" class="search-button ss-icon" value="&#x1F50E;">
        </form>
	</div>
</h1>
    <table id="groups" class="widget-table">
        <thead>
            <tr class="bigger">
                <th>Token</th>
                <th>Created</th>
                <th>Expires</th>
                <th>Single Use Only</th>
                <th>No Devices Only</th>
                <th>Used</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for code in codes %}
            <tr{{ code.new_token|yesno:' class="success", ""' }}>
                    <td>{{ code.token }}</td>
                    <td>{{ code.date_created|todate}}</td>
                    <td>{{ code.expiry|todate}}</td>
                    <td>{{ code.no_devices_only }}</td>
                    <td>{{ code.single_use_only }}</td>
                    <td>{{ code.used }}</td>
                    <td>
                        {% if code.active %}
                        <form method="post" action="{% url 'blue_mgnt:auth_codes' %}?show_inactive={{show_inactive }}">
                            <input type='submit' 
                                value="Disable Code" 
                                class="button button-primary" 
                                id="edit_share" 
                                style="display: inline-block">
                            <input type='hidden' value='disable_code' name='form'>
                            <input type='hidden' value='{{ code.token }}' name='token'>
                        </form>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'blue_mgnt:auth_codes' %}?show_inactive={{ show_inactive|yesno:"0, 1" }}" 
        class="button button-primary">
        <i class="{{ show_inactive|yesno:"icon-eye-close, icon-eye-open" }} icon-white"></i>
        {{ show_inactive|yesno:"Hide Inactive, Show Inactive" }}
    </a>
    <div id="pagination" class="bigger" style="text-align:center">
        {% if page > 1 %}
        <a href="{% url 'blue_mgnt:auth_codes' %}?page={{ page|add:"-1" }}">previous</a>
        {% endif %}
        Page {{ page }}
        {% if next_page %}
        <a href="{% url 'blue_mgnt:auth_codes' %}?page={{ page|add:"1" }}">next</a>
        {% endif %}
    </div>
{% endblock content %}
