<%inherit file="base/base.html" />

<%def name="navigation()">
    <div id="business_nav" style="display:none"></div>
    <a href="${reverse('blue_mgnt:index')}" class="spideroak business">SpiderOak</a>
    <ul>
        <li class="tl"><a id="nav_users" class="lnk_business" href="${reverse('blue_mgnt:users')}">Users</a></li>
        % if user.has_perm('blue_mgnt.can_view_groups'):
        <li class="tl"><a id="nav_groups" class="lnk_business" href="${reverse('blue_mgnt:groups')}">Groups</a></li>
        % endif
        % if user.has_perm('blue_mgnt.can_manage_shares'):
        <li class="tl"><a id="nav_shares" class="lnk_shares" href="${reverse('blue_mgnt:shares')}">Shares</a></li>
        % endif
        % if management_vm and user.has_perm('blue_mgnt.can_manage_auth_codes'):
        <li class="tl"><a id="nav_auth_codes" class="lnk_codes" href="${reverse('blue_mgnt:auth_codes')}">Auth Codes</a></li>
        % endif
        % if user.has_perm('blue_mgnt.can_manage_admins'):
        <li class="tl"><a id="nav_admin_groups" class="lnk_admin_groups" href="${reverse('blue_mgnt:admin_groups')}">Admin Groups</a></li>
        % endif
        <li class="tl"><a id="nav_logs" class="lnk_logs" href="${reverse('blue_mgnt:logs')}">Logs</a></li>
        % if user.has_perm('blue_mgnt.can_view_settings'):
        <li class="tl"><a id="nav_settings" class="lnk_business" href="${reverse('blue_mgnt:settings')}">Settings</a></li>
        % endif
        <li class="tl"><a class="lnk_business" href="${reverse('blue_mgnt:logout')}">Logout</a></li>
    </ul>
</%def>

<%def name="head()">${next.head()}</%def>
<%def name="scripts()">${next.scripts()}</%def>
<%def name="title()">${parent.title()}</%def>
<%def name="body_classes()">${parent.body_classes()}</%def>
<%def name="meta_keywords()">${parent.meta_keywords()}</%def>

${next.body()}
