{% extends "base.html" %}
{% block title %}Management Console - {{ block.super }}{% endblock %}
{% block body_classes %}home {{ block.super }}{% endblock body_classes %}
{% block breadcrumb %}<a href="#">Back to Something</a>{% endblock breadcrumb %}
{% block modal_options %}{% include "partials/add-user-widget.html" with active="manage" %}{% endblock modal_options %}
{% block navtab %}{% include "partials/navtab-widget.html" with active="manage" %}{% endblock navtab %}
{% block content %}
<h1 class="page-header">
	<i class="ss-icon">&#x1F465;</i> Groups
    <div class="actions">
		<button id="add-group" class="button button-primary">Add Group</button>
        <form action="{{% url 'blue_mgnt:groups' %}" method="GET">
            <input name="show_disabled" type="hidden" value="{{ show_disabled }}">
            <input type="text" class="widget-search-input" value="{{ search }}" placeholder="Find Users by Name or Email">
            <input type="submit" class="search-button ss-icon" value="&#x1F50E;">
        </form>
	</div>
</h1>
{% if saved and not search_back %}
<p id="saved" class="bigger" style="display:none">Changes saved successfully!</p>
{% endif %}
</div>
{% if user.has_perm.blue_mgnt.can_manage_groups %}
 <!-- Disable the delete groups and CSV upload in the event of LDAP use. -->
{% if 1 or not features.ldap %}
<div id="" class="section">
<h2>Delete Group</h2>
<form action="{% url 'blue_mgnt:groups' %}" enctype="multipart/form-data" method="post">
    <table class="widget-table">
        {% if delete_group.non_field_errors %}
        <tr><td style="color:#FF0000; font-size:1.3em">{{ delete_group.non_field_errors }}</td></tr>
        {% endif %}

        <tr>
        {% for field in delete_group.visible_fields %}
            <td>
                {{ field.label_tag }}
                {{ field }}
            </td>
        {% endfor %}
            <td style="padding-top:30px">
            <input type='submit' value="Delete Group" class="button button-primary">
            </td>
        </tr>
    </table>
    <input type='hidden' value='delete_group' name='form'>
    {% for hidden in new_group.hidden_fields %}
        {{ hidden }}
    {% endfor %}
</form>
</div>
<!--
<div class="section">
<h2>Upload CSV</h2>
<form action="{% url 'blue_mgnt:groups' %}" enctype="multipart/form-data" method="post">
    <fieldset>
        {% for field in group_csv %}
        <table class="table" style="max-width:100%">
            <tr><td>
            {{ field.label_tag }}
                {{ field }}
                {% if field.errors %}
                <br />
                    {% for error in field.errors %}
                <span class="errors">
                        {{ error }}
                </span></td>
                    {% endfor %}
                {% else %}
                    <label for="id_{{ field.name }}">
                    </label>
                    </td>
                {% endif %}
        {% endfor %}
        <td style="padding-top:32px">
    <input type='submit' value="Upload CSV" class="button button-primary">
    </td></tr>
    </fieldset>
    <input type='hidden' value='csv' name='form'>
        </table>
</form>
</div>
-->
 <!-- not features['ldap'] -->
{% endif %}
{% endif %}
<form action="{% url 'blue_mgnt:groups' %}" method="post" action="">
{{ groups.management_form }}
<table id="groups" class="widget-table">
    <thead>
        <tr>
            {% if config.enable_local_users %}
            <th>User Source</th>
            {% endif %}
            <th>Name</th>
            <th>Plan</th>
            <th>Allow WebAPI</th>
            {% if features.ldap %}
                <th>Require Domain for Windows Install</th>
                <th>LDAP DN</th>
            {% endif %}
            <th>Priority</th>
        </tr>
    </thead>
    <tbody>
        {% if groups.non_form_errors %}
        <tr><td colspan="5">{{ groups.non_form_errors }}</td></tr>
        {% endif %}
        {% for form in groups.forms %}
        <tr>
            {% if config.enable_local_users %}
            <td>{{ initial.counter0.user_source }}</td>
            {% endif %}
            {% for field in form.visible_fields %}
            <td>
                {% if forloop.first %}
                    {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                    {% endfor %}
                {% endif %}
                {% if field.name == 'DELETE' %}
                    <span class="del_box">{{ field }}</span>
                {% else %}
                    {{ field }}
                    {% if field.errors %}
                        <br />
                        {% for error in field.errors %}
                            <span class="table_errors">
                                {{ error }}
                            </span>
                        {% endfor %}
                    {% endif %}
                {% endif %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
<div>
    {% if user.has_perm.blue_mgnt.can_manage_groups %}
    <input type='submit' value="Save Changes" class="button button-primary">
    {% if show_force %}
    <input type='submit' value="Force Plan Change" class="button button-warning" name="force_plan_change">
    {% endif %}
    <input type='hidden' value='management' name='form'>
    <input type='hidden' value='{{ search }}' name='search'>
    {% endif %}
</div>
</form>
</div>
{% endblock content %}

