{% extends "base.html" %}
{% load filter_todate %}

{% block title %}Management Console - {{ block.super }}{% endblock %}

{% block body_classes %}group_detail {{ block.super }}{% endblock body_classes %}
{% block breadcrumb %}<a href="#">Back to Something</a>{% endblock breadcrumb %}
{% block modal_options %}{% endblock modal_options %}
{% block navtab %}{% include "partials/navtab-widget.html" with active="groups" %}{% endblock navtab %}
{% block content %}
<h1 class="page-header">
	<i class="ss-icon">&#xEE00;</i> Group Details
</h1>
<form method="POST" action="{% url 'blue_mgnt:group_detail' group_id %}">
<table id="group" class="widget-table">
    <tbody>
        {% for field in group_form %}
        <tr {% if field.html_name == 'permissions' %}class="permissions"{% endif %}>
            <td>
                <div class="widget-table-label {{ field.errors|yesno:"error, ''" }}">
                    {{ field.label_tag }}
                </div>
            </td>
            <td {% if field.html_name == 'permissions' %}colspan="2"{% endif %}>
                {{ field }}
                {% if field.errors %}
                    <br />
                    {% for error in field.errors %}
                    <span class="table_errors">
                        {{ error }}
                    </span>
                    {% endfor %}
                {% else %}
                    <label for="id_{{ field.name }}">
                    </label>
                {% endif %}
            </td>
            {% if field.html_name == 'permissions' %}
            {% else %}
                <td></td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="widget-actions">
    <input type='submit' value="Save Changes" class="rhs button button-primary" id="edit_group">
</div>
</form>
{% endblock content %}

