{% extends "base.html" %}
{% block title %}Management Console - {{ block.super }}{% endblock %}
{% block body_classes %}home {{ block.super }}{% endblock body_classes %}
{% block modal_options %}{% include "partials/add-user-widget.html" with active="users" %}{% endblock modal_options %}
{% block navtab %}{% include "partials/navtab-widget.html" with active="users" %}{% endblock navtab %}
{% block content %}
<h1 class="page-header">
	<i class="ss-icon">&#x1F464;</i> Users
    <div class="actions">
		<button id="add-widget" class="button button-primary">Add user</button>
        <form action="{% url 'blue_mgnt:users' %}" method="GET">
            {% csrf_token %}
            <input name="show_disabled" type="hidden" value="{{ show_disabled }}">
            <input type="text" class="widget-search-input"  id="input_search" name="search" value="{{ search }}" placeholder="Find Users by Name or Email">
            <input type="submit" class="search-button ss-icon" value="&#x1F50E;">
        </form>
	</div>
</h1>
{% if saved and not search_back %}
<p id="saved" class="bigger" style="display:none">Changes saved successfully!</p>
{% endif %}
<form action="{% url 'blue_mgnt:users' %}" method="POST">
    {% csrf_token %}
    {{ users.management_form }}
    {{ delete_user_formset.management_form }}
    {{ tmp_user_formset.management_form }}
<table class="widget-table">
    <thead>
        {% if not features.email_as_username %}
        <th>Username</th>
        {% endif %}
        <th>Full Name</th>
        <th>Email</th>
        <th>Group</th>
        <th>Storage Size</th>
        <th>User Detail</th>
        <th>
            Delete?
            <input id="sel_all" type="checkbox">
        </th>
    </thead>
<tbody>
    {% for curr_user, delete_form in users_and_delete %}
        <tr>
            {% for hidden in delete_form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% if not features.email_as_username %}
                <td>{{ curr_user.username }}</td>
            {% endif %}

            {% if curr_user.is_local_user %}
                {% for hidden in curr_user.form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}

                {% for field in curr_user.form.visible_fields %}
                    <td>{{ field }}
                    {% if field.errors %}
                        <br />
                        <span class="table_errors">
                            {% for error in field.errors %}
                                {{ error }}
                            {% endfor %}
                        </span>
                    {% endif %} 
                {% endfor %}
            {% else %}
                <td>{{ curr_user.name }}</td>
                <td>{{ curr_user.email }}</td>
                <td>{{ curr_user.group_name }}</td>
            {% endif %}
            <td>{{ curr_user.bytes_stored|filesizeformat }}</td>
            <td>
                <a href="{% url 'blue_mgnt:user_detail' curr_user.email %}">Detail</a>
            </td>
            <td>
                {{ curr_user.gigs_stored }}
                {% if not curr_user.enabled or curr_user.is_local_user and perms.blue_mgnt.can_manage_users %}
                    <span class="del_box">{{ delete_form.DELETE }}</span>
                {% endif %}
            </td>
        </tr>
                {% if curr_user.is_local_user %}
                    {{ local_index|add:"1" }}
                {% endif %}
            {% empty %}
                <p>Nothing to show</p>
            {% endfor %}
	</tbody>
</table>
{% if page >= 1 %}
{% block pagination %}{% include "partials/pagination-widget.html" %}{% endblock pagination %}
{% endif %}
<div class="widget-splitactions">
	<div class="rhs">
        <input type="hidden" value="{{ search }}" name="search">
		<button class="button button-primary">Save Changes</button>
	</div>
	<div class="lhs">
        <a href="{% url 'blue_mgnt:users' %}?show_disabled={{ show_disabled|yesno:"0,1" }}&search={{ search }}#user_table" class="button button-muted">
            {{ show_disabled|yesno:"Show,Hide" }} Disabled Uesers
        </a>
        <a href="{% url 'blue_mgnt:users_csv_download' %}" class="button button-muted">Download CSV</a>
	</div>
</div>
</form>
<div class="spacer"><!--ZXP--></div>

{% endblock content %}
