{% extends "base.html" %}
{% block title %}Users - Management Console{{ block.super }}{% endblock %}
{% block body_classes %}home {{ block.super }}{% endblock body_classes %}
{% block modal_options %}{% include "partials/add-user-widget.html" with active="users" %}{% endblock modal_options %}
{% block navtab %}{% include "partials/navtab-widget.html" with active="users" %}{% endblock navtab %}
{% block content %}
<h1 class="page-header">
	<i class="ss-icon">&#x1F464;</i> Users
    <div class="actions">
		<button id="add-widget" class="button button-primary-basic">Add User</button>
        <form action="{% url 'blue_mgnt:users' %}" method="GET">
            <input name="show_disabled" type="hidden" value="{{ show_disabled }}">
            {% if search %}
                <a id="clear-search" href="{% url 'blue_mgnt:users' %}" class="">Clear Search</a>
            {% endif %}
            <input type="text" class="widget-search-input"  id="input_search" name="search" value="{{ search }}" placeholder="Find Users by Name or Email">
            <input type="submit" class="search-button ss-icon" value="&#x1F50E;">
        </form>
	</div>
</h1>
{% if saved %}
<p id="saved">Changes saved successfully!</p>
{% endif %}
{% if user_form.errors %}
<div class="error-alert">
    <p>The following errors need to be addressed:</p>
{% for item in user_form %}
{% if item.errors %}
    {% for error in item.errors %}
        <p class="error-list">{{item.name|title}}:&nbsp;
        {{ error }}</p>
    {% endfor %}
    {% endif %}
{% endfor %}
</div>
{% endif %}
<form action="{% url 'blue_mgnt:users' %}" method="POST">
    {% csrf_token %}
    {{ delete_user_formset.management_form }}
    {{ tmp_user_formset.management_form }}
<table class="widget-table">
    <thead>
        {% if not features.email_as_username %}
        <th>Username</th>
        {% endif %}
        <th>Full Name</th>
        <th>Email</th>
        <th>Group</th>
        <th>Storage Size</th>
        <th>User Detail</th>
        <th>
            Delete?
            <input id="sel_all" type="checkbox">
        </th>
    </thead>
<tbody>
    {% for curr_user, delete_form in users_and_delete %}
        <tr>
            {% for hidden in delete_form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% if not features.email_as_username %}
                <td>{{ curr_user.username }}</td>
            {% endif %}

            <td>
                <i class="ss-icon edit-status">
                    {% if curr_user.is_local_user %}
                        &#x270E;
                    {% else %}
                        &#xE071;
                    {% endif %}
                </i>
                {{ curr_user.name }}
            </td>
            <td>{{ curr_user.email }}</td>
            {% if curr_user.is_local_user %}
                {% for hidden in curr_user.form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                {% for field in curr_user.form.visible_fields %}
                <td>
                    {% if field.errors %}
                    <span class="error-highlight">
                        {{ field }}
                    </span>
                    {% else %}
                        {{ field }}
                    {% endif %}
                </td>
                {% endfor %}
            {% else %}
                <td>{{ curr_user.group_name }}</td>
            {% endif %}
            <td style="text-align: center">{{ curr_user.bytes_stored|filesizeformat }}</td>
            <td style="text-align: center">
                <a href="{% url 'blue_mgnt:user_detail' curr_user.email %}">Detail</a>
            </td>
                {{ curr_user.gigs_stored }}
                {% if not curr_user.enabled or curr_user.is_local_user and perms.blue_mgnt.can_manage_users %}
            <td style="text-align:center">
                    <span class="del_box">{{ delete_form.DELETE }}</span>
                {% else %}
            <td style="text-align:center">
                    <span class="delete-fill ss-icon">&#x1F6AB;</span>
                {% endif %}
            </td>
        </tr>
            {% empty %}
                <p>Nothing to show</p>
            {% endfor %}
	</tbody>
</table>
{% if page >= 1 %}
{% block pagination %}{% include "partials/pagination-widget.html" %}{% endblock pagination %}
{% endif %}
<div class="widget-splitactions">
	<div class="rhs">
        <input type="hidden" value="{{ search }}" name="search">
		<button class="button button-primary-basic">Save Changes</button>
	</div>
	<div class="lhs">
        <a href="{% url 'blue_mgnt:users' %}?show_disabled={{ show_disabled|yesno:"0,1" }}&search={{ search }}#user_table" class="button button-muted">
            {{ show_disabled|yesno:"Show,Hide" }} Disabled Users
        </a>
        <a href="{% url 'blue_mgnt:users_csv_download' %}" class="button button-muted">Download CSV</a>
	</div>
</div>
</form>
<div class="spacer"><!--ZXP--></div>

{% endblock content %}
