{% extends "base.html" %}
{% block title %}Management Console - {{ block.super }}{% endblock %}
{% block body_classes %}home {{ block.super }}{% endblock body_classes %}
{% block breadcrumb %}<a href="#">Back to Something</a>{% endblock breadcrumb %}
{% block navtab %}{% include "partials/navtab-widget.html" with active="users" %}{% endblock navtab %}
{% block content %}
<h1 class="page-header">
	<i class="icon">&#x1F464;</i> Users
	<div class="actions">
		<button class="button button-primary">Add user</button>
		<input type="text">
	</div>
</h1>
<table class="widget-table">
	<thead>
		<th>
			Full Name
		</th>
		<th>
			Email
		</th>
		<th>
			Group
		</th>
		<th>
			Storage Size
		</th>
		<th>
			User Detail
		</th>
		<th>
			Delete?
		</th>
	</thead>
	<tbody>
		<tr>
			<td>
				John Smith
			</td>
			<td>
				jsmith@gmail.com
			</td>
			<td>
				10 GB
			</td>
			<td>
				100 MB
			</td>
			<td>
				Details
			</td>
			<td>
				Check
			</td>
		</tr>
		<tr>
			<td>
				John Smith
			</td>
			<td>
				jsmith@gmail.com
			</td>
			<td>
				10 GB
			</td>
			<td>
				100 MB
			</td>
			<td>
				Details
			</td>
			<td>
				Check
			</td>
		</tr>
		<tr>
			<td>
				John Smith
			</td>
			<td>
				jsmith@gmail.com
			</td>
			<td>
				10 GB
			</td>
			<td>
				100 MB
			</td>
			<td>
				Details
			</td>
			<td>
				Check
			</td>
		</tr>
	</tbody>
</table>

<div class="widget-pagination">
	<ul>
		<li class="active">1</li>
		<li>2</li>
		<li>3</li>
		<li>4</li>
		<li>5</li>
	</ul>
</div>

<div class="widget-splitactions">
	<div class="rhs">
		<button class="button button-primary">Save Changes</button>
	</div>
	<div class="lhs">
		<button class="button button-muted">Hide Disabled Users</button>
		<button class="button button-muted">Download CSV</button>
	</div>
</div>

<div class="spacer"><!--ZXP--></div>

<hr />

<fieldset class="widget-fieldset">
	<div>
		<label>Name</label>
		<p>John Smith <span class="tag">Administrator</span></p>
	</div>
	<div>
		<label>Email Address</label>
		<p>jsmith@gmail.com</p>
	</div>
	<div>
		<label>Group ID</label>
		<p>Friendly Name of the Group</p>
	</div>
</fieldset>

<div class="widget-splitactions">
	<div class="rhs">
		<a class="button button-primary" href="#">Save Changes</a>
	</div>
	<div class="lhs">
		<a class="button button-secondary" href="#">Delete User</a>
		<a class="button button-muted" href="#">Disable User</a>
	</div>
</div>


{% endblock content %}
