{% extends "base.html" %}
{% block title %}Login - Management Console{{ block.super }}{% endblock %}
{% block body_classes %}login {{ block.super }}{% endblock body_classes %}
{% block content %}
<div class="image-wrapper">
    <img src="/static/blue_mgnt/img/logo_large.png" />
</div>
<div class="login-wrapper">
    <div class="background"></div>
    <div class="login-form-wrapper">
    <form method="post" action="" id="log_in">
        {% csrf_token %}
        <fieldset>
            {% if form.non_field_errors %}
            <div class="error">{{ form.non_field_errors }}</div>
            {% endif %}
            <div class="widget-login">
                {% for field in form %}
                    <div {% if field.errors %}class="error"{% endif %}>
                        {{ field.label_tag }}
                        {{ field }}
                    </div>
                <span class="help-inline error">
                    {% if field.errors %}
                        {% for error in field.errors %}
                            {{ error }}
                        {% endfor %}
                    {% else %}
                        <label for="id_{{ field.name }}"></label>
                    {% endif %}
                </span>
                {% endfor %}
            </div>
        </fieldset>
        <input type='submit' value="Login" class="button button-primary" id="login">
        <input type='hidden' value='management' name='form'>
    </form>
    </div>
</div>
{% endblock content %}
