{% extends "base.html" %}
{% block title %}Login - Management Console{{ block.super }}{% endblock %}
{% block body_classes %}login {{ block.super }}{% endblock body_classes %}
{% block content %}
<div class="image-wrapper">
    <img src="/static/blue_mgnt/img/spideroak-logo_std.png" />
</div>
<h1>Welcome back.</h1>
<h2>Login below to access your management console.</h2>
<div class="dismiss_block center" id="saved" style="display: none">
    <p>If you haven't already, bookmark this page for future use.<span class="dismiss">[ <a href="">dismiss</a> ]</span></p>
</div>
<div class="login-wrapper">
    <div class="left-col">
    <form method="post" action="" id="log_in">
        {% csrf_token %}
        <fieldset>
            {% if form.non_field_errors %}
            <div class="error">{{ form.non_field_errors }}</div>
            {% endif %}
            <div class="widget-login">
                {% for field in form %}
                    <div {% if field.errors %}class="error"{% endif %}>
                        {{ field.label_tag }}
                        {{ field }}
                    </div>
                <span class="help-inline error">
                    {% if field.errors %}
                        {% for error in field.errors %}
                            {{ error }}
                        {% endfor %}
                    {% else %}
                        <label for="id_{{ field.name }}"></label>
                    {% endif %}
                </span>
                {% endfor %}
            </div>
        </fieldset>
        <div class="widget-actions">
        <input type='submit' value="Login" class="button button-primary-basic" id="login">
        <input type='hidden' value='management' name='form'>
    </div>
    </form>
    </div>
<div class="right-col">
    <div>
        <img src="/static/blue_mgnt/img/login_safe.png" />
        <h3>Security First, No Knowledge</h3>
        <p>One of the most important ways to ensure your data remains secure and private is through encryption. Only you have access to the encryption key used to encrypt your data. Protect your password! Without it your data cannot be accessed. Per our No Knowledge privacy policy, SpiderOak can not reset or change your account password.</p>
    </div>
    <div>
        <img src="/static/blue_mgnt/img/login_head.png" />
        <h3>Powerful User Management</h3>
        <p>Keep control of your company's data with an intuitive, powerful central Management Console for provisioning and managing accounts. Gain visibility, set and enforce policy and permissions, and view reports.</p>
    </div>
</div>

</div>
<script>
    (function() {
        $(document).ready(function() {
            if (!$.cookie('bookmark_dismiss')) {
                $('.dismiss_block').show();
            }
            $('.dismiss').click(function(e) {
                e.preventDefault();
                $.cookie('bookmark_dismiss', true, {expires: 3650});
                $('.dismiss_block').hide();
            });
        });
    })($);
</script>
{% endblock content %}
