<%inherit file="main.html" />

<%def name="title()">Logs - ${parent.title()}</%def>

<%def name="head()">
<style>
    textarea {
        width: 300px;
    }
</style>
</%def>

<%def name="top_of_head()">
</%def>

<%def name="scripts()">
<script src="/static/blue_common/scripts/jquery.form.js"></script>
<script type="text/javascript"> 
</script>
</%def>

<%def name="body_classes()">logs ${parent.body_classes()}</%def>
<%def name="container()">
<h1 class="header">Enterprise Partner: <span>${username}</span></h1>
<div class="recenter">
<div class="division">
${parent.progressbar()}
</div>

<div class="section" style="clear:both">
    <h2 style="float:left">Logs</h2>
<div id="search" class="">
    <form action="${reverse('blue_mgnt:logs')}" method="get">
        <input id="input_search" name="search" type="text" value="${search}" style="width:260px; margin-right:12px" />
        <input type='submit' value="Find Logs" class="btn btn-primary">
    </form>
</div>
<table id="groups" class="table" style="max-width:100%">
    <thead>
        <tr class="bigger">
            <th>Log</th>
        </tr>
    </thead>
    <tbody>
        % for log in log_entries:
        <tr>
            <td>
                ${log}
            </td>
        </tr>
        % endfor
    </tbody>
</table>
<div id="pagination" class="bigger" style="text-align:center">
    % if page > 1:
    <a href="${reverse('blue_mgnt:logs')}?page=${page - 1}&search=${search}">previous</a>
    % endif
    Page ${page}
    % if next_page:
    <a href="${reverse('blue_mgnt:logs')}?page=${page + 1}&search=${search}">next</a>
    % endif
</div>
</div>
</%def>
