{% extends "base.html" %}
{% block title %}Manage - Management Console{{ block.super }}{% endblock %}
{% block body_classes %}manage {{ block.super }}{% endblock body_classes %}
{% block breadcrumb %}{% endblock breadcrumb %}
{% block modal_options %}{% include "partials/add-user-widget.html" with active="manage" %}{% endblock modal_options %}
{% block navtab %}{% include "partials/navtab-widget.html" with active="manage" %}{% endblock navtab %}
{% block content %}
<h1 class="page-header">
    <i class="ss-icon">&#x1F464;</i> {{ account_name|title }}
    <div class="actions">
        {% block usage-info %}{% include "partials/usage-info-widget.html"  with usage_bar="1" %}{% endblock usage-info %}
	</div>
</h1>
<div class="left-col">
    <div class="widget-manage-blocks">
        <span class="manage-icon"><i class="ss-icon">&#x1F465;</i></span>
        <div>
            <h3>Groups<span>{{ group_count }} Groups</span></h3>
            <p>Description of the section. Nullam id do lor id nibh ultricies vehicula ut id elit.</p>
            <a href="{% url 'blue_mgnt:groups' %}" class="button button-primary">Manage Groups</a>
        </div>
    </div>
    <div class="widget-manage-blocks">
        <span class="manage-icon"><i class="ss-icon">&#x1F511;</i></span>
        <div>
            <h3>Auth Codes<span>{{ codes_count }} Auth Codes</span></h3>
            <p>Description of the section. Nullam id do lor id nibh ultricies vehicula ut id elit.</p>
            <a href="{% url 'blue_mgnt:auth_codes' %}" class="button button-primary">Manage Auth Codes</a>
        </div>
    </div>
</div>
<div class="right-col">
    <div class="widget-manage-blocks">
        <span class="manage-icon"><i class="ss-icon">&#xED50;</i></span>
        <div>
            <h3>Logs</h3>
            <p>Description of the section. Nullam id do lor id nibh ultricies vehicula ut id elit.</p>
            <a href="{% url 'blue_mgnt:logs' %}" class="button button-primary">Manage Logs</a>
        </div>
    </div>
    <div class="widget-manage-blocks">
        <span class="manage-icon"><i class="ss-icon">&#x1F464;</i></span>
        <div>
            <h3>Account<span>{{ account_name|title }}</span></h3>
            <p>Description of the section. Nullam id do lor id nibh ultricies vehicula ut id elit.</p>
            <a href="{% url 'blue_mgnt:settings' %}" class="button button-primary">Edit Account</a>
        </div>
    </div>
</div>
{% endblock content %}

