{% extends "base.html" %}
{% block title %}Change Password - Management Console{{ block.super }}{% endblock %}
{% block body_classes %}password {{ block.super }}{% endblock body_classes %}
{% block breadcrumb %}<a href="{% url 'blue_mgnt:settings' %}">Back to Account</a>{% endblock breadcrumb %}
{% block navtab %}{% include "partials/navtab-widget.html" with active="manage" %}{% endblock navtab %}
{% block content %}
<h1 class="page-header">
	<i class="ss-icon">&#x1F512;</i> Change Password
</h1>

{% if saved %}
<p id="saved" class="bigger">Changes saved successfully!</p>
{% endif %}
<div id="s_pass" class="login-wrapper">
    <div class="login-form-wrapper">
        <div class="left-col">
            <form method="post">
                {% csrf_token %}
                <fieldset>
                    <div class="widget-login">
                    {% for field in password_form %}
                        {{ field.label_tag }}
                            {{ field }}
                            {% if field.errors %}
                            <span class="help-inline">
                                {% for error in field.errors %}
                                    {{ error }}
                                {% endfor %}
                            {% else %}
                            <label for="id_{{ field.name }}">
                                </label>
                            </span>
                            {% endif %}
                    {% endfor %}
                    </div>
                </fieldset>
                <div class="widget-actions">
                <input type='hidden' value='password' name='form'>
                <input type='submit' value="Change Password" class="button button-primary-basic">
            </div>
            </form>
        </div>
        <div class="right-col">
            <div>
                <img src="/static/blue_mgnt/img/login_safe.png" />
                <h3>Strong Password</h3>
                <p>Something in here along the lines of selecting a
                strong and secure password. Maybe something about using a
                password manager.</p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extrajs %}
<script src="/static/blue_common/scripts/jquery.form.js"></script>
<script type="text/javascript"> 
    var error = {{ error|yesno:'true,false' }};
var empty_ip_block_form = '';
function update_form(new_form, total){
    new_form.find(':input').each(function() {
        var name = $(this).attr('name').replace('-' + (total-1) + '-','-' + total + '-');
        var id = 'id_' + name;
        $(this).attr({'name': name, 'id': id});
    });
}

function add_ip_block_form(){
    var new_form = empty_ip_block_form.clone(true);
    var total = parseInt($('#id_ip_blocks-TOTAL_FORMS').val());
    update_form(new_form);
    $('#id_ip_blocks-TOTAL_FORMS').val(1 + total);
    $('#ip_blocks > tbody').append(new_form);
}

$(function(){
    empty_ip_block_form = $('#ip_blocks > tbody > tr:last').clone();
    if(!error){
        $('#ip_blocks > tbody > tr:last').remove();
    }else{
        empty_ip_block_form.children(':first').html('');
        empty_ip_block_form.clearForm();
        $('ul', empty_ip_block_form).remove()
    }
    $('#id_ip_blocks-TOTAL_FORMS').val($('#id_ip_blocks-TOTAL_FORMS').val() - 1);
    $('#add_ip_block').click(add_ip_block_form);
});
</script>
{% endblock extrajs %}
