{% extends "base.html" %}
{% load filter_todate %}
{% load so_filters %}

{% block title %}Policies - Management Console{{ block.super }}{% endblock %}

{% block breadcrumb %}<a href="{% url 'blue_mgnt:manage' %}">Back to Manage</a>{% endblock breadcrumb %}
{% block navtab %}{% include "partials/navtab-widget.html" with active="manage" %}{% endblock navtab %}
{% block content %}
<h1 class="page-header">
    <i class="ss-icon">&#xEE00;</i> Policies
</h1>

<div class="spacer"><!--ZKP--></div>

{% if policies %}
    <ul>
    {% for policy in policies %}
        <li><a href="/policies/{{ policy.id }}/">{{ policy.name }}</a></li>
    {% endfor %}
{% endif %}

{% endblock content %}
