<%inherit file="main.html" />

<%def name="title()">Settings - ${parent.title()}</%def>

<%def name="head()"></%def>

<%def name="top_of_head()">
</%def>

<%def name="scripts()">
<script src="/static/blue_common/scripts/jquery.form.js"></script>
<script type="text/javascript"> 
    var error = ${'true' if error else 'false'};
var empty_ip_block_form = '';
function update_form(new_form, total){
    new_form.find(':input').each(function() {
        var name = $(this).attr('name').replace('-' + (total-1) + '-','-' + total + '-');
        var id = 'id_' + name;
        $(this).attr({'name': name, 'id': id});
    });
}

function add_ip_block_form(){
    var new_form = empty_ip_block_form.clone(true);
    var total = parseInt($('#id_ip_blocks-TOTAL_FORMS').val());
    update_form(new_form);
    $('#id_ip_blocks-TOTAL_FORMS').val(1 + total);
    $('#ip_blocks > tbody').append(new_form);
}

$(function(){
    empty_ip_block_form = $('#ip_blocks > tbody > tr:last').clone();
    if(!error){
        $('#ip_blocks > tbody > tr:last').remove();
        $('#id_ip_blocks-TOTAL_FORMS').val($('#id_ip_blocks-TOTAL_FORMS').val() - 1);
    }else{
        empty_ip_block_form.clearForm();
        $('ul', empty_ip_block_form).remove()
    }
    $('#add_ip_block').click(add_ip_block_form);
});
</script>
</%def>

<%def name="body_classes()">settings ${parent.body_classes()} grassy</%def>
<%def name="container()">
<h1 class="header">Enterprise Partner: <span>${username}</span></h1>
<div class="recenter">
    <div class="division">
        ${parent.progressbar()}
    </div>

% if saved:
    <p id="saved" class="bigger">Changes saved successfully!</p>
% endif

    % if not features['ldap']:
    <div id="s1" class="section">
    % else:
    <div id="s1" class="section" style="width:514px">
    % endif
        <form method="post" action="${reverse('blue_mgnt:settings')}">
            <h2>Options</h2>
            <div class="" id="options">
                <fieldset>
                    <table class="table" style="width:400px">
                    %for field in options:
                        <tr>
                            <td>
                                <div class="${'error' if field.errors else ''}" style="width:200px">
                                    ${field.label_tag()}
                                </div>
                            </td>
                            <td>
                                ${field}
                            %if field.errors:
                                %for error in field.errors:
                                <span class="table_errors">
                                    ${error}
                                </span>
                                %endfor
                            %endif
                            </td>
                        </tr>
                    %endfor
                    </table>
                </fieldset>
                <div style="text-align:center">
                    % if user.has_perm('blue_mgnt.can_manage_settings'):
                    <input type='submit' value="Save Changes" class="btn btn-primary" id="change_password" style="display: inline-block">
                    % endif
                </div>
            </div>
            <input type='hidden' value='management' name='form'>
        </form>
    </div>

<div id="additional_options" class="section" style="display:inline-block">
<a class="btn btn-primary btn-large" href="${reverse('blue_mgnt:password')}">Change Password</a>
% if features['ldap'] and user.has_perm('blue_mgnt.can_manage_settings'):
    <form method="posst" action="${reverse('blue_mgnt:settings')}">
        <input type='hidden' value='reboot' name='form'>
        <input type='submit' value="Reboot Virtual Appliance" class="btn btn-primary btn-large">
    </form>
    <form method="posst" action="${reverse('blue_mgnt:settings')}">
        <input type='hidden' value='sync' name='form'>
        <input type='submit' value="Sync Virtual Appliance" class="btn btn-primary btn-large">
    </form>
    <form method="posst" action="${reverse('blue_mgnt:settings')}">
        <input type='hidden' value='rebuild_db' name='form'>
        <input type='submit' value="Rebuild DB" class="btn btn-primary btn-large">
    </form>
    <form method="post" action="${reverse('blue_mgnt:settings')}">
        <input type='hidden' value='restart_directory' name='form'>
        <input type='submit' value="Restart Directory / Services" class="btn btn-primary btn-large">
    </form>
% endif
</div>


<!-- % if features['signup_restrictions']: -->
% if not private_cloud:
<div id="s3" class="section" style="clear:both">
<form method="post" action="${reverse('blue_mgnt:settings')}">
    ${ip_blocks.management_form}
    <h2 id="netblocks">Consumer Signup Restriction Netblocks
    <input type="button" value="Add IP Block" id="add_ip_block" class="btn btn-primary">
    </h2>
    <div class="ip_input">
    <table id="ip_blocks" class="table" style="max-width:100%">
        <thead>
            <tr>
                <th class="bigger">IP Block</th>
                <th class="bigger">Delete IP Block</th>
            </tr>
        </thead>
        <tbody>
            % for y, form in enumerate(ip_blocks.forms):
            <tr>
                % for x, field in enumerate(form.visible_fields()):
                <td>
                    % if not x:
                        % for hidden in form.hidden_fields():
                            ${hidden}
                        % endfor
                    % endif
                    ${field}
                    %if field.errors:
                    <br />
                        %for error in field.errors:
                        <span class="table_errors">
                            ${error}
                        </span>
                        %endfor
                    %endif
                </td>
                % endfor
            </tr>
            % endfor
        </tbody>
    </table>
    <input type='hidden' value='ip_block' name='form'>
    <div style="text-align:center">
        % if user.has_perm('blue_mgnt.can_manage_settings'):
        <input type='submit' value="Save Changes" class="btn btn-primary" style="display: inline-block">
        % endif
    </div>
    </div>
</div>
</form>
% endif
<!-- % endif -->

</div>
</%def>

