{% extends "base.html" %}
{% load filter_todate %}

{% block title %}Share Detail - Management Console{{ block.super }}{% endblock %}

{% block body_classes %}shares_detail {{ block.super }}{% endblock body_classes %}
{% block breadcrumb %}<a href="{% url 'blue_mgnt:shares' %}">Back to Shares</a>{% endblock breadcrumb %}
{% block modal_options %}{% endblock modal_options %}
{% block navtab %}{% include "partials/navtab-widget.html" with active="shares" %}{% endblock navtab %}
{% block content %}
<h1 class="page-header">
	<i class="ss-icon">&#xEE00;</i> ShareRoom Details
</h1>
<table id="share" class="widget-table widget-table-details">
    <tbody>
        <tr>
            <td><label>Name</label></td>
            <td>
            {% if share.name %}
                {{ share.name }}
            {% endif %}
            </td>
        </tr>
        <tr>
            <td><label>Room Key</label></td>
            <td>{{ share.room_key }}</td>
        </tr>
        <tr>
            <td><label>URL</label></td>
            <td>
                <a href="{{ share_url }}/browse/share/{{ api_user.share_identifier }}/
                    {{ share.room_key }}" target="_blank">
                    {{ share_url }}/browse/share/{{ api_user.share_identifier }}/{{ share.room_key }}
                </a>
            </td>
        </tr>
        <tr>
            <td><label>Description</label></td>
            <td id="hint">{{ share.description }}</td>
        </tr>
        <tr>
            <td><label>Creation Time</label></td>
            <td>
            {% if share.creation_time %}
                {{ share.creation_time|todate }}
            {% endif %}
            </td>
        </tr>
        <tr>
            <td><label>Update Time</label></td>
            <td>
            {% if share.update_time %}
                {{ share.update_time|todate }}
            {% endif %}
            </td>
        </tr>
        <tr>
            <td><label>Active?</label>
            <td>
                <form method="post" id="share_state" action="{% url 'blue_mgnt:share_detail' api_user.email share.room_key %}">
                    {% csrf_token %}
                    <div class="processor">
                    {% if share.enabled %}
                    <input type="radio" class="radio-submit" checked="checked">
                    <span class="enabled"> Enabled</span>
                    <input type="radio" class="radio-submit" onclick="this.form.submit()"> Disable
                    {% else %}
                    <input type="radio" class="radio-submit" onclick="this.form.submit()"> Enable
                    <input type="radio" class="radio-submit" checked="checked">
                    <span class="enabled"> Disabled</span>
                    {% endif %}
                    </div>
                    <input type='hidden' value='edit_share' name='form'>
                    <input type='hidden' value='{{ share.room_key }}' name='room_key'>
                    <input type='hidden' value='{{ share.enabled }}' name='enabled'>
                    <input type='hidden' value='{{ user.email }}' name='email'>
                </form>
            </td>
        </tr>
        <tr>
            <td><label>Password Required</label></td>
            <td>{{ share.password_required }}</td>
        </tr>
    </tbody>
</table>
{% endblock content %}

