{% extends "base.html" %}
{% load filter_todate %}
{% block title %}Management Console - {{ block.super }}{% endblock %}

{% block body_classes %}shares {{ block.super }}{% endblock body_classes %}
{% block breadcrumb %}<a href="#">Back to Something</a>{% endblock breadcrumb %}
{% block modal_options %}{% endblock modal_options %}
{% block navtab %}{% include "partials/navtab-widget.html" with active="shares" %}{% endblock navtab %}
{% block content %}
<h1 class="page-header">
	<i class="ss-icon">&#xEE00;</i> Shares
    <div class="actions">
        <form action="{% url 'blue_mgnt:shares' %}" method="GET">
            <input name="show_disabled" type="hidden" value="{{ show_disabled }}">
            <input type="text" class="widget-search-input" value="{{ search }}" placeholder="Find Shares">
            <input type="submit" class="search-button ss-icon" value="&#x1F50E;">
        </form>
	</div>
</h1>
<form action="{% url 'blue_mgnt:shares' %}" method="POST" action="">
    <table id="groups" class="widget-table">
        <thead>
            <tr class="bigger">
                <th>Name</th>
                <th>Creator</th>
                {% if features.email_as_username %}
                <th>Email</th>
                {% else %}:
                <th>Username</th>
                {% endif %}
                <th>Creation Time</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                {% for share in user.shares %}
                <tr>
                    <td>{{ share.name }}</td>
                    <td>{{ user.name }}</td><!-- Switch for "created by" -->
                    {% if features.email_as_username %}
                    <td>{{ user.email }}</td>
                    {% else %}
                    <td>{{ user.username }}</td>
                    {% endif %}
                    <td>{{ share.creation_time|todate  }}</td>
                    <!-- Need to fix link below -->
                    <td><a href="{% url 'blue_mgnt:shares_detail' %}">Details</a></td>
                </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
</form>
    <div id="pagination" class="bigger" style="text-align:center">
        {% if page > 1 %}
        <a href="{% url 'blue_mgnt:shares' page=page|add:'-1' %}">previous</a>
        {% endif %}
        Page {{ page }}
        {% if next_page %}
        <a href="{% url 'blue_mgnt:shares' page=page|add:'1' %}">next</a>
        {% endif %}
    </div>
<form action="{% url 'blue_mgnt:shares' %}" method="post" action="" style="clear:both">
    <div style="text-align:center">
        <input type='submit' value="{{ sharing_enabled|yesno:"Disable, Enable" }} Shares" class="button button-primary" id="edit_shares">
        <input type='hidden' value='{{ sharing_enabled }}' name='sharing_enabled'>
        <input type='hidden' value='edit_shares' name='form'>
    </div>
</form>
</div>
{% endblock content %}
