{% extends "base.html" %}
{% load filter_todate %}
{% load so_filters %}

{% block title %}User Detail - Management Console{{ block.super }}{% endblock %}

{% block body_classes %}user_detail {{ block.super }}{% endblock body_classes %}
{% block breadcrumb %}<a href="{% url 'blue_mgnt:users' %}">Back to Users</a>{% endblock breadcrumb %}
{% block modal_options %}
    {% include "partials/delete-user-widget.html" %}
    {% include "partials/disable-user-widget.html" %}
    {% include "partials/change-user-password-widget.html" %}
{% endblock modal_options %}
{% block navtab %}{% include "partials/navtab-widget.html" with active="users" %}{% endblock navtab %}
{% block content %}
<h1 class="page-header">
	<i class="ss-icon">&#x1F464;</i> User Details
    <div class="actions">
        {% if devices|length > 0 %}
        <a href="{{ storage_login }}" target="_blank" class="button button-primary-basic">Access User's Data</a>
        {% endif %}
    </div>
</h1>

{% if saved %}
<p id="saved">Changes saved successfully!</p>
{% endif %}
{% if user_form.errors %}
<div class="error-alert">
    <p>{{ user_form.errors|length }} errors have been detected. Please see below for more information.</p>
</div>
{% endif %}
<form method="POST" action="{% url 'blue_mgnt:user_detail' email %}">
    {% csrf_token %}
    <div class="" id="options">
        <fieldset>
            <table id="widget-table-details" class="widget-table">
                <tbody>
            {% if not features.email_as_username %}
            <tr>
                <td><label>Username</label></td>
                <td>{{ api_user.username }}</td>
                <td></td>
            </tr>
            {% endif %}
            {% for field in user_form %}
            <tr>
                <td>
                    <div class="{{ field.errors|yesno:'error,' }}">
                        {{ field.label_tag }}
                    </div>
                </td>
                <td {{ field.errors|yesno:'style=overflow:visible,' }}>
                    {% if field.errors %}
                        {% for error in field.errors %}
                        <span class="error-highlight">
                            {{ field }}
                            <span class="error-tag">{{ error }}</span>
                        </span>
                        {% endfor %}
                    {% else %}
                        {{ field }}
                    {% endif %}
                </td>
                {% if field.html_name == 'group_id' %}
                <td id="hint">
                    <span>To change this users group, click on the
                        Manage Groups button on the 
                        <a href="{% url 'blue_mgnt:manage' %}">Manage page</a>.
                    </span>
                </td>
                {% elif field.html_name == 'bonus_gigs' and not field.errors %}
                <td id="hint">
                    <span>Add extra space for this specific user.</span>
                </td>
                {% else %}
                <td></td>
                {% endif %}
            </tr>
            {% endfor %}
            <tr>
                <td><label>Devices</label></td>
                <td>{{ devices|length }}</td>
                {% if devices|length > 0 %}
                <td class="toggle-controller link-primary"><span></span> all devices</td>
            </tr>
            <tr class="widget-overview">
                <td>
                <td colspan="2">
                    <table class="widget-table">
                        <thead>
                            <th>Name</th>
                            <th>Creation Time</th>
                            <th>Last Backup Complete</th>
                        </thead>
                        <tbody>
                            {% for device in devices %}
                            <tr>
                                <td>{{ device.name }}</td>
                                <td>{{ device.creation_time|todate }}</td>
                                <td>{% if device.last_backup_complete  %}
                                    {{ device.last_backup_complete |todate }}
                                    {% else %}
                                    No backup recorded
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
            </tr>
            {% else %}
            <td></td>
        </tr>
        {% endif %}
            <tr>
                <td><label>Shares</label></td>
                <td>{{ shares|length }}</td>
            {% if shares|length > 0 %}
                <td class="toggle-controller link-primary"><span></span> all ShareRooms</td>
            </tr>
            <tr class="widget-overview">
                <td></td>
                <td colspan="2">
                    <table class="widget-table">
                        <thead>
                            <th>Name</th>
                            <th>Creation Time</th>
                            <th>Last Logged In</th>
                        </thead>
                        <tbody>
                            {% for share in shares %}
                            <tr>
                                <td>
                                    <a class="link-primary" 
                                        href="{{ share_url }}/browse/share/{{ api_user.share_identifier }}/{{ share.room_key }}">{{ share.name }}
                                    </a>
                                </td>
                                <td>{{ share.creation_time|todate }}</td>
                                <td>{% if share.last_login %}
                                        {{ share.last_login|todate }}
                                    {% else %}
                                        No login recorded
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
            </tr>
            {% else %}
                <td></td>
            </tr>
            {% endif %}
            <tr>
                <td><label>GBs Stored</label></td>
                <td>{{ api_user.bytes_stored|sofilesizeformat }}</td>
                <td></td>
            </tr>
            <tr>
                <td><label>Storage GBs</label></td>
                {% if api_user.storage_bytes < 1000000001000000000 %}
                <td>{{ api_user.storage_bytes|sofilesizeformat }}</td>
                {% else %}
                <td>Unlimited</td>
                {% endif %}
                <td></td>
            </tr>
            <tr>
                <td><label>Creation Time</label></td>
                <td>{{ api_user.creation_time|todate }}</td>
                <td></td>
            </tr>
            <tr>
                <td><label>Last Login</label></td>
                <td>
                    {% if api_user.last_login %}
                    {{ api_user.last_login|todate }}
                    {% else %}
                    No login recorded
                    {% endif %}
                </td>
                <td></td>
            </tr>
            <tr>
                <td><label>Last Backup Complete</label></td>
                <td>
                    {% if api_user.last_backup_complete %}
                    {{ api_user.last_backup_complete|todate }}
                    {% else %}
                    No backup recorded
                    {% endif %}
                </td>
                <td></td>
            </tr>
            <tr>
                <td><label>Enabled</label></td>
                <td>{{ api_user.enabled }}</td>
                <td></td>
            </tr>
        </tbody>
    </table>
        </fieldset>
        </div>
            <div class="widget-actions short-right">
                <input type='submit' value="Save Changes" class="rhs button button-primary-basic" id="edit_user">
                <input type='hidden' value='edit_user' name='form'>
            </div>
    </form>
            <div class="widget-splitactions float">
                <button id="modal-trigger-delete_user" class="button button-secondary">
                    Delete User
                </button>
                <form method="POST" action="{% url 'blue_mgnt:user_detail' email %}">
                    {% csrf_token %}
                    <input type='hidden' value='bump_space' name='form'>
                    <input type='submit' value="Bump Space" 
                     class="button button-muted" id="bump_space">
                </form>
            {% if local_user %}
            <button id="modal-trigger-change_user_password" class="button button-muted">
                Change User's Password
            </button>
            {% endif %}
            </div>
{% endblock content %}
