{
    "dir_uri": "ldaps://dc1.test.domain.com",
    "dir_base_dn": "dc=test, dc=domain, dc=com",
    "dir_user": "superadmin@test.domain.com",
    "dir_password": "SEEKRET",
    "dir_guid_source": "objectGUID",
    "dir_member_source": "memberUid",
    "dir_username_source": "userPrincipalName",
    "dir_fname_source": "givenName",
    "dir_lname_source": "sn",
    "dir_email_source": "mail",
    "dir_type": "ad",
    "auth_method": "ldap",
    "api_user": "enterprise_admin",
    "api_password": "ALSO_SEEKRET",
    "db_pass": "initial",

    "listen_addr": "127.0.0.1",
    "listen_port": 443,
    
    "groups": [
    ]
}
