<div class="modal-wrapper">
    <div class="modal-content">
        <div class="modal-item widget-add-user-option">
            <h2 class="page-header"><i class="ss-icon">&#x1F464;</i>Add User
                <span class="actions"><i class="ss-icon">&#x2421;</i></span>
            </h2>
            <div class="spacer"><!--ZXP--></div>
            <div class="lower-content">
            <p class="description">You can either import users via a CSV file or manually add them.
            If you are using LDAP for user management, users will be added automatically.</p>

            <div class="option-box" id="option-upload-csv">
                <p>Upload from<br />a CSV file.</p>
                <button class="action-show-modal button button-primary-basic" data-show-modal="widget-upload-csv">Upload CSV</button>
            </div>
            <div class="option-box" id="option-add-user">
                <p>Manually<br />add users.</p>
                <button class="action-show-modal button button-primary-basic" data-show-modal="{% if at_user_limit %}widget-plan-alert{% else %}widget-add-user{% endif %}">Create User</button>
            </div>
            </div>
        </div>

{% if config.enable_local_users %}
        <div class="modal-item widget-add-user" style="display:none">
            <h2 class="page-header"><i class="ss-icon">&#x1F464;</i>Add User
                <span class="actions"><i class="ss-icon">&#x2421;</i></span>
            </h2>
            <div class="spacer"><!--ZXP--></div>
            <form action="{% url 'blue_mgnt:users' %}" enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            <input type="hidden" name="form" value="new_user">
            <table class="widget-table">
            {% for field in new_user.visible_fields %}
                <tr>
                    <td class="modal-table-label">
                        <div class="{{ field.errors|yesno:'error,' }}">
                            {{ field.label_tag }}
                        </div>
                    </td>
                    <td>
                    {% if field.errors %}
                        {% for error in field.errors %}
                        <span class="error-highlight">
                            {{ field }}
                            <span class="error-tag">{{ error }}</span>
                        </span>
                        {% endfor %}
                    {% else %}
                        {{ field }}
                    {% endif %}
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="2"></td>
            </tr>
        </table>
            <div class="widget-actions">
                <input type="submit" value="Create User" class="rhs button button-primary-basic">
                <input type='hidden' value='new_user' name='form'>
                {% for hidden in new_user.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
            </div>
        </form>
    </div>
{% endif %}
    <div class="modal-item widget-upload-csv" style="display: none">
            <h2 class="page-header"><i class="ss-icon">&#x1F464;</i>Add User
                <span class="actions"><i class="ss-icon">&#x2421;</i></span>
            </h2>
            <div class="spacer"><!--ZXP--></div>
        <form action="{% url 'blue_mgnt:users' %}" enctype="multipart/form-data" method="post">
        {% csrf_token %}
            <fieldset>
                {% for field in user_csv %}
                <table class="widget-table">
                    <tr>
                        <td class="modal-table-label">
                        <div class="{{ field.errors|yesno:'error,' }}">
                            {{ field.label_tag }}
                        </div>
                    </td>
                    <td>
                    {% if field.errors %}
                        {% for error in field.errors %}
                        <span class="error-highlight">
                            {{ field }}
                            <span class="error-tag">{{ error }}</span>
                        </span>
                        {% endfor %}
                    {% else %}
                        {{ field }}
                    {% endif %}
                        </td>
                {% endfor %}
                    </tr>
                </table>
                <div class="csv-note">
                    <p>Note: CSV uploads should be comma delimited and need to contain
                    email address, name, password, and group name which should appear as follows:</p>
                    <p>
                        <pre>email,name,password,group_name
jane@foo.com,Jane Doe,passworD,Local 20 GB</pre>
                    </p>
                    <p>For additional information, please don't hesitate to reach out to
                    <a href="mailto:bluesupport@spideroak.com">bluesupport@spideroak.com</a></p>
                </div>
            </fieldset>
            <div class="widget-actions">
                <input type='submit' value="Upload CSV" class="rhs button button-primary-basic">
                <input type='hidden' value='csv' name='form'>
            </div>
        </form>
    </div>
    <div class="modal-item widget-plan-alert" style="display: none">
            <h2 class="page-header"><i class="ss-icon">&#x26A0;</i>Upgrade Required
                <span class="actions"><i class="ss-icon">&#x2421;</i></span>
            </h2>
            <div class="spacer"><!--ZXP--></div>
                <div class="csv-note">
                    <p>Adding a new user will move you into the next plan size. Your credit card on file will be charged. To continue adding this user click Continue. If you do not with to add more users please click cancel.</p>
                </div>
            <div class="widget-actions widget-splitactions">
                <button class="lhs action-close-modal button cancel-action">Cancel</button>
                <button class="rhs action-show-modal button button-primary-basic" data-show-modal="widget-add-user" style="margin-right: 20px;">Create User</button>
            </div>
    </div>
    </div>
</div>
