<div class="modal-wrapper">
    <div id="modal-refer-change_user_password" class="modal-content">
        <h2 class="page-header"><i class="ss-icon">&#x1F464;</i>Change Password
            <span class="actions"><i class="ss-icon">&#x2421;</i></span>
        </h2>
        <div class="spacer"><!--ZXP--></div>
        <div>
            <form action="{% url 'blue_mgnt:user_detail' email %}" enctype="multipart/form-data" method="POST">
            {% csrf_token %}
                <input type="hidden" name="form" value="edit_user">
                <table class="widget-table">
                    <tr>
                        <td class="modal-table-label">
                            {{ user_form.password.label_tag }}
                        </td>
                        <td>
                            {{ user_form.password }}
                        </td>
                    </tr>
                    <tr>
                        <td class="modal-table-label">
                            {{ user_form.repeat_password.label_tag }}
                        </td>
                        <td>
                            {{ user_form.repeat_password }}
                        </td>
                    </tr>
                </table>
                <div class="widget-actions">
                    <input type="submit" value="Change Password" class="rhs button button-primary-basic">
                    <input type='hidden' value='user_form' name='form'>
                    {% for hidden in user_form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                </div>
            </form>
        </div>
    </div>
</div>

{% comment %}
            <table class="widget-table">
            {% for field in user_form.visible_fields %}
                <tr>
                    <td class="modal-table-label">
                        {% if field.password %}
                        <div class="{{ field.errors|yesno:'error,' }}">
                            {{ field.label_tag }}
                        </div>
                        {% elif field.repeat_password %}
                        <div class="{{ field.errors|yesno:'error,' }}">
                            {{ field.label_tag }}
                        </div>
                        {% endif %}
                    </td>
                    <td>
                    {% if field.errors %}
                        {% for error in field.errors %}
                        <span class="error-highlight">
                            {{ field }}
                            <span class="error-tag">{{ error }}</span>
                        </span>
                        {% endfor %}
                    {% else %}
                        {{ field }}
                    {% endif %}
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="2"></td>
            </tr>
        </table>
{% endcomment %}
