<nav>
<ul class="navtab-widget">
	<li class="navtab-item-users{% if active == "users" %} active {% endif %}">
		<a href="{% url "blue_mgnt:logout" %}">
			<i class="ss-icon">&#x1F464;</i>
			<span>Users</span>
		</a>
	</li>
	<li class="navtab-item-shares">
		<a href="{% url "blue_mgnt:logout" %}">
			<i class="ss-icon">&#xEE00;</i>
			<span>Shares</span>
		</a>
	</li>
	<li class="navtab-item-manage">
		<a href="{% url "blue_mgnt:logout" %}">
			<i class="ss-icon">&#x21C6;</i>
			<span>Manage</span>
		</a>
	</li>
	<li class="navtab-item-reports">
		<a href="{% url "blue_mgnt:logout" %}">
			<i class="ss-icon">&#x1F4CA;</i>
			<span>Reports</span>
		</a>
	</li>
</ul>
</nav>
