<nav>
<ul class="navtab-widget">
	<li class="navtab-item-users{% if active == "users" %} active {% endif %}">
		<a href="{% url "blue_mgnt:users" %}">
			<i class="ss-icon">&#x1F464;</i>
			<span>Users</span>
		</a>
	</li>
    <li class="navtab-item-shares{% if active == "shares" %} active {% endif %}">
		<a href="{% url "blue_mgnt:shares" %}">
			<i class="ss-icon">&#xEE00;</i>
			<span>Shares</span>
		</a>
	</li>
    <li class="navtab-item-manage{% if active == "manage" %} active {% endif %}">
		<a href="{% url "blue_mgnt:manage" %}">
			<i class="ss-icon">&#x21C6;</i>
			<span>Manage</span>
		</a>
	</li>
<!--
	<li class="navtab-item-reports">
		<a href="#">
			<i class="ss-icon">&#x1F4CA;</i>
			<span>Reports</span>
		</a>
	</li>
-->
</ul>
</nav>
