{% if form %}
<form method='POST' action='.'>
  {% for field in form.hidden_fields %}
  {{ field }}
  {% endfor %}
  <table class='widget-table widget-table-details' id='policy-table'>
    {% for field in form.visible_fields %}
      {% if forloop.first %}
      {# Put Name on it's own line #}
      <tr>
        <th>{{ field.label_tag }}</th>
        <td colspan='2' {% if field.errors %}class='error'{% endif %}>
          {% if field.errors %}{{ field.errors }}<br />{% endif %}
          {{ field }}
        </td>
      </tr>
      {% endif %}
    {% endfor %}
    <tr>
      <td colspan="3">
        <i>
          <b>Managed</b>: any user set policy will be superseded by the policy set here<br/>
          <b>User controlled</b>: the user defines this particular item
        </i>
      </td>
    </tr>
    {% for category in device_preferences %}
    <tr><td colspan="3"><strong>{{ category.category }}</strong></td></tr>
      {% for cat_field in category.fields %}
        {% include 'partials/policy_field.html' with field_name=cat_field.name %}
        {% if cat_field.fields %}
          <tr><td colspan="3"><table class="widget-table widget-table-details child-table">
          {% for child in cat_field.fields %}
          {% include 'partials/policy_field.html' with field_name=child.name %}
            {% if child.fields %}
              <tr><td colspan="3"><table class="widget-table widget-table-details child-table">
              {% for child2 in child.fields %}
              {% include 'partials/policy_field.html' with field_name=child2.name %}
              {% endfor %}
              </table></td></tr>
            {% endif %}
          {% endfor %}
          </table></td></tr>
        {% endif %}
      {% endfor %}
    {% endfor %}
    <tr>
      <td colspan="2">{% if policy.id %}<a href="{% url 'blue_mgnt:policy_delete' policy.id %}">Delete Policy</a>{% endif %}</td>
      <td><input type='submit' class='button button-primary-basic' value='Save' /></td>
    </tr>
  </table>
</form>

{% else %}
<p>{{ missing_form_error }}</p>
{% endif %}
