{% for field in form.visible_fields %}
  {% if field.name == field_name or field.name|slice:":-12" == field_name %}
    {% if forloop.counter|divisibleby:2 %}
    <tr>
    {% endif %}
      {% if '_inheritance' in field.name %}
      <td>{{ field }}</td>
      {% else %}
      <th>{{ prepend }}{{ field.label_tag }}</th>
      <td {% if field.errors %}class='error'{% endif %}>
        {% if field.errors %}{{ field.errors }}<br />{% endif %}
        {{ field }}
      </td>
      {% endif %}
    {% if forloop.last %}
    </tr>
    {% elif forloop.counter0|divisibleby:2 %}
    </tr>
    {% endif %}
  {% endif %}
{% endfor %}
