{% block usage-info %}
    <div class="widget-usage-info">
        <div class="digits">
            <p class="space-used">Space Used: <span class="num">{{ account_info.space_used|filesizeformat }}</span></p>
            <p class="space-allocated">Space Allocated: <span class="num">{{ account_info.space_allocated|filesizeformat }}</span></p>
        </div>
        <div class="usage-bar-wrapper">
            <div class="usage-bar-space-used"></div>
        </div>
    </div>
    {% block extrajs %}
    <script>
        allocated_num = {{ account_info.space_allocated }};
        used_num = {{ account_info.space_used }};
    // Usage Bar
    // Adjusted to add classes when the amount used exceeds 
    // 50% (yellow) and 90% (red with "Almost out of space!" message).
    // Show usage bar @ 3% if used_num is less than 1% - Just for show.
        test_num = 36814260000000; // FOR TESTING
        // Replace used_num with test_num for testing values.
        pos_adjust = Math.round((used_num / allocated_num) * 100);

        if (pos_adjust <= 1) {
            pos_adjust = 3;
        } else if (pos_adjust >= 48 && pos_adjust <= 89){
            $('.usage-bar-space-used').addClass('usage-warning');
        } else if (pos_adjust >= 90) {
            $('.usage-bar-space-used').addClass('usage-danger');
            $('.usage-bar-space-used').html('<span>Almost out of space!</span>');
        }

        pos_convert = 518 * (pos_adjust / 100); // Converts the % to something useful.
        new_pos = -518 + pos_convert; // Sets the bar

        $('.usage-bar-space-used').css('left', new_pos);
    </script>
    {% endblock extrajs %}
{% endblock usage-info %}
