@import "reset";
@import "utils";

@FONTFAMILY_R: ProximaNova-Regular;
@FONTFAMILY_B: ProximaNova-Bold;
@FONTFAMILY_SB: ProximaNovaA-Semibold;

@PAGE_WIDTH: 880px;
@HEADER_HEIGHT: 45px;

@WIDGET_HEIGHT: 70px;
@WIDGET_WIDTH: (@PAGE_WIDTH / 4) - 1;
@NAVWIDGET_HEIGHT: 78px;

@BREADCRUMB_HEIGHT: 35px;
@PAGEHEADER_HEIGHT: 50px;
@ACCOUNT_OVERVIEW_HEIGHT: 50px;

@NAVTAB_BORDER_COLOR: #E0E0E0;

@NAVTAB_BGCOLOR_USERS: #0D50A1;
@NAVTAB_BGCOLOR_SHARES: #2089CA;
@NAVTAB_BGCOLOR_MANAGE: #21B1E6;
@NAVTAB_BGCOLOR_REPORTS: #5AC5F1;

@INPUT_EDIT_COLOR: #767677;

@LINK_COLOR: #268BC9;

@ZEBRA_STRIPE: #fafafa;


/* MIXINS */

.clear() {
    &:after {
        display: block;
        clear: both;
        content: "";
    }
}

.gradient(@col1; @col2) {
    background-color: @col1;
    background: -moz-linear-gradient(@col1, @col2);
    background: -webkit-linear-gradient(@col1, @col2);
    background: -o-linear-gradient(@col1, @col2);
    background: linear-gradient(@col1, @col2);
}


.inline_inputs() {
    label {
        font-family: @FONTFAMILY_SB;
    }
    input[type='text'],
    select,
    textarea,
    input[type='password'] {
        width: 275px;
        height: 30px;
        border-radius: 5px;
        border: 1px solid @NAVTAB_BORDER_COLOR;
        text-indent: 12px;
        color: @INPUT_EDIT_COLOR;
        font: 13px~"/"23px @FONTFAMILY_R;
        display: block;
    }

    select {
        max-width: 135px;
        display: inline-block;
    }

    input[type='submit'] {
        float: right;
        position: relative;
        right: 20px;
    }
}

.widget-table-details {
    tr {
        td:first-of-type > label {
            label {
                font-family: @FONTFAMILY_SB;
            }
        }
    }
}


/* apply a natural box layout model to all elements */
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
	font-size: 16px;
	font-family: @FONTFAMILY_R;
	color: #505050;
    text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
	font-family: @FONTFAMILY_SB;
	color: #505050;
}

a {
	color: @LINK_COLOR;
}

strong, .strong, table thead th {
    font-family: @FONTFAMILY_SB;
}

::-webkit-input-placeholder { color: lighten(@INPUT_EDIT_COLOR, 32%) }
::-moz-placeholder { color: lighten(@INPUT_EDIT_COLOR, 32%) }
:-moz-placeholder { color: lighten(@INPUT_EDIT_COLOR, 32%) }
::-ms-input-placeholder { color: lighten(@INPUT_EDIT_COLOR, 32%) }

.overlord {
	width: @PAGE_WIDTH;
	margin: 0 auto;
	position: relative;
}

#bg-gradient {
	width: 100%;
	div {
		width: 100%;
		position: absolute;
		top: 25px;
		height: 277px;
		background-image: url(/static/blue_mgnt/img/bg_gradient.png);
		background-repeat: repeat-x;
		background-position: 0px 0px;
	}
}

header {
	height: @HEADER_HEIGHT;
	background-color: #363636;
	position: relative;
	overflow: hidden;
	div {
		width: @PAGE_WIDTH;
		margin: 0px auto;
	}
	h1 {
		float: left;
		img {
			height: 38px;
			width: 48px;
			position: relative;
			top: -2px;
		}
	}
	ul {
		float: right;
		font-size: 14px;
		line-height: @HEADER_HEIGHT;
		list-style-type: none;
		font-family: @FONTFAMILY_B;
		li {
			float: left;
			color: #aeaeae;
			margin-left: 30px;
			a {
				cursor: pointer;
				color: #aeaeae;
				text-decoration: none;
				.ss-icon {
					font-size: 10px;
					padding: 0px 5px;
				}
			}
		}
	}
}

nav {
	width: 100%;
}

.navtab-widget {
	height: @NAVWIDGET_HEIGHT;
	list-style-type: none;
	padding: 0px;
	margin: 0px auto;
	border-bottom: 1px solid @NAVTAB_BORDER_COLOR;
	overflow: hidden;
	li {
		float: left;
		margin-right: 1px;
		font-family: @FONTFAMILY_B;
		position: relative;
		a {
			float: left;
			width: @WIDGET_WIDTH;
			height: @WIDGET_HEIGHT;
			text-decoration: none;
			cursor: pointer;
			.transition(height 0.2s);
		}
		a:hover {
			height: @NAVWIDGET_HEIGHT;
		}
		&.active a {
			height: @NAVWIDGET_HEIGHT;
		}
		img, i {
			position: absolute;
		}
		img {
			top: -4px;
			right: 5px;
		}
		i {
			top: 0;
			right: 5px;
			color: white;
			font-size: 45px;
			opacity: 0.3;
		}
		span {
			padding-top: @WIDGET_HEIGHT - 27;
			padding-left: 10px;
			display: block;
			color: white;
			text-transform: uppercase;
			font-size: 16px;
			.text-shadow(
				0px -1px 0px rgba(000,000,000,0.4),
				0px 1px 0px rgba(255,255,255,0.3)
			);
		}
	}
	li.navtab-item-users a{
		background-color: @NAVTAB_BGCOLOR_USERS;
	}
	li.navtab-item-shares a{
		background-color: @NAVTAB_BGCOLOR_SHARES;
	}
	li.navtab-item-manage a{
		background-color: @NAVTAB_BGCOLOR_MANAGE;
	}
	li.navtab-item-reports a{
		background-color: @NAVTAB_BGCOLOR_REPORTS;
	}
}

.account-overview {
	height: @ACCOUNT_OVERVIEW_HEIGHT;
	color: #bcbcbc;
	ul {
		text-align: center;
		list-style-type: none;
		padding-top: 8px;
		font-size: 13px;
		li {
			display: inline-block;
			margin-left: 3em;
			i {
				margin-right: 5px;
				position: relative;
				top: 2px;
			}
		}
		li:first-child {
			margin-left: 0;
		}
	}
}

div.breadcrumb {
	height: @BREADCRUMB_HEIGHT;
	font-size: 10px;
}

h1.page-header {
	height: @PAGEHEADER_HEIGHT;
	position: relative;
	.ss-icon {
		font-size: 23px;
		color: #929292;
	}
	.actions {
		float: right;
        
        form {
            display: inline-block;
            position: relative;
        }

        &:after {
            display: block;
            clear: both;
            content:"";
        }

        .widget-search-input {
            width: 275px;
            height: 30px;
            border-radius: 5px;
            border: 1px solid @NAVTAB_BORDER_COLOR;
            text-indent: 12px;
            color: @INPUT_EDIT_COLOR;
            font: 13px~"/"23px @FONTFAMILY_R;
        }
        .search-button {
            height: 30px;
            width: 28px;
            font-size: 12px;
            position: absolute;
            top: 14px;
            right: 0;
            background-color: @NAVTAB_BORDER_COLOR;
            border: none;
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
            color: lighten(@NAVTAB_BORDER_COLOR, 3%);
                &:hover {
                    color: #FFF;
                    background-color: @NAVTAB_BGCOLOR_MANAGE;
                }
        }
	}
}


.footer {
	margin-top: 60px;
	margin-bottom: 30px;
	padding-top: 20px;
	border-top: 1px solid #ddd;
	color: #ccc;
	font-size: 14px;
	a {
		color: #ccc;
		text-decoration: none;
	}
	p {
		float: left;
	}
	ul {
		list-style-type: none;
		float: right;
		li {
			float: left;
			padding: 0 10px;
			border-left: 1px solid #ddd;
		}
		li:first-child {
			border-left: none;
		}
	}
}

/* widgets */

.widget-table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	table-layout: fixed;
	border: 1px solid #dddddd;
	background-color: #ffffff;
	font-size: 15px;
	&>thead>tr>th {
		padding: 16px 8px 4px 8px;
		border-bottom: 2px solid #dddddd;
		text-align: left;
		font-weight: bold;
		&:hover {
			text-decoration: underline;
		}
	}
	&>tbody>tr:hover>td {
		background-color: #e6e6e6;
		& .fixWidth-fader {
			display: none;
		}
	}
	&>tbody>tr>td {
		padding: 14px 4px 14px 8px;
		border-bottom: 1px solid #dddddd;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
	}
	&>tbody>tr:nth-child(odd) {
		background-color: @ZEBRA_STRIPE;
	}

    input[type='text'],
    select,
    textarea,
    input[type='password'] {
        width: 88%;
        height: 30px;
        border-radius: 5px;
        border: 1px solid @NAVTAB_BORDER_COLOR;
        text-indent: 12px;
        color: @INPUT_EDIT_COLOR;
        font: 13px~"/"23px @FONTFAMILY_R;
    }
    
    td > label,
    td > div > label {
        font-family: @FONTFAMILY_B;
    }

    li > label {
        font-family: @FONTFAMILY_R;
    }
}

.widget-manage-blocks {
    width: 425px;
    border: 1px solid @NAVTAB_BORDER_COLOR;
    border-radius: 4px;
    margin-bottom: 20px;
    background-color: #FFF;
    position: relative;
    
    .manage-icon {
        font-size: 60px;
        color: @NAVTAB_BORDER_COLOR;
        padding: 10px;
        i {
            margin:0 auto;
        }
    }

    div {
        border-left: 1px solid @NAVTAB_BORDER_COLOR;
        padding: 10px;
        display: inline-block;
        width: 80%;
        h3 {
            font-size: 16px;
            span {
                float: right;
                font-size: 10px;
            }
        }
        p {
            font-size: 12px;
            margin-bottom: 10px;
        }
    }
}

.widget-add-user {
    display: none;
}

.widget-add-user-option {
    text-align: center;
}

.modal-wrapper {
    background-color:rgba(0,0,0,.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 9000;
}

.modal-content {
    position: absolute;
    width: 530px;
    left: 22%;
    top: 22%;
    border: 1px solid @NAVTAB_BORDER_COLOR;
    border-radius: 8px;
    background-color: #FFF;

    input#expiry_interval_days {
        width: 100px;
        display: inline;
    }

    .inline_inputs();


    .modal-table-label {
        width: 30%;
        padding-left: 20px;
    }

    h2.page-header {
            border-bottom: 1px solid @NAVTAB_BORDER_COLOR;
            text-align: left;
            padding: 10px;
            i { padding-right: 10px }

            .actions {
                float: right;
                cursor: pointer;
                &:hover { 
                    color: lighten(@NAVTAB_BORDER_COLOR, 2%);
                }
            }
    }

    .lower-content {
        padding: 20px;

        .description {
            margin-bottom: 20px;
        }

    }

    .option-box {
        position: relative;
        display: inline-block;
        margin: 10px;
        border-radius: 4px;
        border: 1px solid @NAVTAB_BORDER_COLOR;
        text-align: center;
        padding: 40px;

        p {
            font-family: @FONTFAMILY_SB;
            margin-bottom: 20px;
        }
    }
    .permissions {
        ul {
            height: 120px;
            column-fill: auto;
            column-width: 140px;
            column-gap: 0px;
            -moz-column-fill: auto;
            -moz-column-width: 140px;
            -moz-column-gap: 0px;
            -webkit-column-fill: auto;
            -webkit-column-width: 140px;
            -webkit-column-gap: 0px;
            label {
                font-size: 12px;
            }
        }
    }
}

.widget-pagination {
	padding: 20px 0;
	ul {
		text-align: center;
		list-style-type: none;
		font-size: 13px;
		li {
			display: inline-block;
			padding: 2px 5px;
			color: #4b4b4b;
		}
		li.active {
			background-color: #4b4b4b;
			color: #fff;
		}
	}
}

.widget-actions {
    margin: 20px 0;
    &.short-right {
        float: right;
        width: 250px;
    }
    .rhs {
        float: right;
    }
    .clear();
}

.widget-splitactions {
    &.float {
        width: 600px;
        float: left;
        margin: 20px 0;
    }
    form {
        display: inline-block;
        position: relative;
        z-index: 1;
    }
	.rhs {
		float: right;
	}
    .lhs {
        a {
            margin: 0 8px;
        }
    }
}

.widget-fieldset {
	border: 1px solid #ccc;
	margin-bottom: 1em;
	.border-radius(2px);
	& > div {
		border-top: 1px solid #ccc;
		padding: 20px 20px 20px 200px;
		position: relative;
	}
	& > div:first-child {
		border-top: none;
	}
	label {
		font-family: @FONTFAMILY_B;
		font-size: 18px;
		position: absolute;
		left: 20px;
	}
}

/* buttons */
button, .button {
	font-family: @FONTFAMILY_B;
	font-size: 13px;
	cursor: pointer;
}

.button-primary {
	color: #fff;
	.buttonate(#23B2E1, #21A2D9, #068CD3, #057ECF);
}

.button-secondary {
	color: #fff;
	.buttonate(#D44246, #CF3940, #C31E24, #BE1B1E);
}

.button-muted {
	color: #fff;
	.buttonate(#afafaf, #a0a0a0, #8b8b8b, #7e7e7e);
}

/* Special case */
.permissions {
    td {
        vertical-align: top;
    }
    ul {
        height: 120px;
        column-fill: auto;
        column-width: 180px;
        column-gap: 0px;
        -moz-column-fill: auto;
        -moz-column-width: 180px;
        -moz-column-gap: 0px;
        -webkit-column-fill: auto;
        -webkit-column-width: 180px;
        -webkit-column-gap: 0px;
    }
}

.group_detail {
    .widget-table {
        tr > td:last-of-type,
        tr > td:first-of-type {
            width: 25%;
        }
    }
}

.shares_detail {
    .widget-table {
        tr > td:first-of-type {
            width: 28%;
        }
    }
}

#add_ip_block {
    margin-left: 20px;
}


body.admin_groups {
    th {
        width: 22%;
        &#perms {
            width: 38%;
        }
        &:last-child {
            width: 90px;
        }
    }
    td {
        vertical-align: top;
    }
}

.radio-submit {
    &:nth-of-type(2) {
        margin:0 1px 0 14px;
    }
    vertical-align: middle;
    margin:0 1px;
}

/* login & password*/
    .error {
        color: #ff0000;
    }
body.login {
    .content {
        margin: 10% auto;
    }
    .clear();
    .login-wrapper {
        margin: 3% auto;
        .gradient(@NAVTAB_BGCOLOR_REPORTS; @NAVTAB_BGCOLOR_MANAGE);
        .background {
            background-position: 0 -33px;
        }
    }
}

body.password {
    .login-wrapper {
        .login-form-wrapper {
            border: 1px solid @NAVTAB_BORDER_COLOR;
        }
        .background {
            background-position: 0 -10px;;
            opacity: 0.6;
        }
    }
}

body.login,
body.password {
    .login-wrapper {
        margin: 0 auto;
        position: relative;
        padding: 20px 0;
        .clear();
        .background {
            background-image: url(/static/blue_mgnt/img/login_bg.png);
            background-repeat: repeat;
            height: 100%;
            width: 100%;
            position: absolute;
            z-index: 1;
            top: -1px;
            left: -1px;
            right: -1px;
            bottom: -1px;
        }

        .login-form-wrapper {
            width: 325px;
            border-radius: 8px;
            margin: 0 auto;
            background-color: #fff;
            padding: 12px;
            .clear();
            position: relative;
            z-index: 100;
            overflow: hidden;
        }
    }
    .image-wrapper {
        width: 160px;
        margin: 3% auto;
        img {
            width: 160px;
        }

    }
    .inline_inputs();

    .widget-login {
        label {
            display: inline-block;
            font-size: 20px;
        }
        input[type='text'],
        input[type='password'] {
            width: 300px;
            height: 40px;
            font-size: 18px;
        }
    }
    input[type='submit'] {
        padding: 4px 10px;
        font-size: 18px;
    }
}

/* Usage Info Bar */
.widget-usage-info {
    width: 520px;
    position: relative;
    top: -30px;
    
    .digits {
        text-align: center;
        width: 270px;
        margin: 0 auto;
        p {
            width: 100px;
            display: inline;
            font-size: 12px;

            &.space-used {
                color: @NAVTAB_BGCOLOR_USERS;
                font-family: @FONTFAMILY_B;

                span {
                    font-family: @FONTFAMILY_R;
                }
            }
            &.space-allocated {
                color: @NAVTAB_BGCOLOR_REPORTS;
                font-family: @FONTFAMILY_B;

                span {
                    font-family: @FONTFAMILY_R;
                }
            }
        }
    }
    .usage-bar-wrapper {
        position: relative;
        overflow: hidden;
        height: 24px;
        width: 518px;
        .gradient(@NAVTAB_BGCOLOR_REPORTS; @NAVTAB_BGCOLOR_MANAGE);
        border-radius: 4px;
        border: 1px solid @NAVTAB_BORDER_COLOR;

        .usage-bar-space-used {
            position: absolute;
            height: 26px;
            width: 519px;
            top: -1px;
            .gradient(@NAVTAB_BGCOLOR_SHARES; @NAVTAB_BGCOLOR_USERS);

            &.usage-warning {
                .gradient(#FCDC3B; darken(#FCDC3B, 14%));
            }

            &.usage-danger {
                .gradient(#FF0000; darken(#FF0000, 14%));
                span {
                    color: #ffffff;
                    font: 14px~'/'16px @FONTFAMILY_R;
                    float: right;
                    padding: 4px;
                    margin-right: 10px;
                    text-shadow: #5E2612 1px 1px 4px;
                }
            }
        }
    }
}

/* tags */
.tag {
	padding: 8px 10px;
	font-size: 0.62em;
	color: #fff;
	background-color: #4c4c4c;
	text-transform: uppercase;
	.border-radius(2px);
}

.enabled {
    color: @NAVTAB_BGCOLOR_SHARES;
}

/* utility classes */

.spacer {
	clear: both;
	height: 1px;
	margin-top: -1px;
}

.left-col {
    display: inline-block;
    margin-right: 10px;
}

.right-col {
    display: inline-block;
    margin-left: 10px;
}

.set-top {
    vertical-align: top;
}

.permissions-options {
    max-width: 180px;
    display: inline-block;
    font-size: 12px;
}

.space-20none {
    margin: 20px 0;
}

#hint {
    white-space: normal;
    overflow: visible;
    span {
        font-size: 12px;
    }
}
.link-primary {
    font-family: @FONTFAMILY_B;
    color: @NAVTAB_BGCOLOR_SHARES;
    &:visited {
        color: @NAVTAB_BGCOLOR_SHARES;
    }
}

.toggle-controller {
    cursor: pointer;
    font-size: 14px;
    i {
        font-size: 8px;
    }
    &:hover {
        text-decoration: underline;
    }
}

.status-message {
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid @NAVTAB_BORDER_COLOR;
    max-width: 800px;
    margin: 20px auto;
    padding: 10px;
    display: inline-block;
    .actions {
        float: right;
        cursor: pointer;
        &:hover { 
            color: lighten(@NAVTAB_BORDER_COLOR, 2%);
        }
    }
    .status-content {
        code {
            font-size: 12px;
        }
    }
    i {
        vertical-align: middle;
        margin-right: 12px;
    }

    h2 {
        border-bottom: 1px solid @NAVTAB_BORDER_COLOR;
    }
}

.shield {
    position: absolute;
    z-index: 10000;
    height: 100%;
    width: 100%;
    background-color: rgba(240, 240, 240, .2);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
